@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'vazir';
    src: url(../font/Vazir.woff);
}

@layer components {
    ::-webkit-scrollbar {
        width: 10px;
        background-color: #1c1917;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #33302fd7;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 200px;
    }

    input[type="range"]:focus {
        outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background-color: #1c1917;
        border-radius: 0.5rem;
        height: 0.5rem;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -4px;
        background-color: #fff;
        border-radius: 0.5rem;
        height: 1rem;
        width: 1rem;
    }

    input[type="range"]:focus::-webkit-slider-thumb {
        outline: 3px solid #fff;
        outline-offset: 0.125rem;
    }
}